{% load static %}
<div class="js-inline-admin-formset inline-group" id="{{ inline_admin_formset.formset.prefix }}-group"
     data-inline-type="tabular"
     data-inline-formset="{{ inline_admin_formset.inline_formset_data }}">
  <div class="tabular inline-related">
    <fieldset class="module">
      {{ inline_admin_formset.formset.management_form }}
      {{ inline_admin_formset.formset.non_form_errors }}
      <table>
        <thead>
          <tr>
            {% for field in inline_admin_formset.fields %}
              <th class="{{ field.widget.attrs.class }}">
                {{ field.label|capfirst }}
                {% if field.required %}<span class="required">*</span>{% endif %}
              </th>
            {% endfor %}
            {% if inline_admin_formset.formset.can_delete %}<th>Remover?</th>{% endif %}
          </tr>
        </thead>
        <tbody>
          {% for inline_admin_form in inline_admin_formset %}
            <tr class="form-row {% if forloop.last %}empty-form{% endif %}"
                id="{{ inline_admin_formset.formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
              {% for fieldset in inline_admin_form %}
                {% for line in fieldset %}
                  {% for field in line %}
                    <td class="{{ field.field.name }}">
                      {% if field.is_readonly %}
                        <p>{{ field.contents }}</p>
                      {% else %}
                        {{ field.field }}
                      {% endif %}
                      {{ field.field.errors.as_ul }}
                    </td>
                  {% endfor %}
                {% endfor %}
              {% endfor %}
              {% if inline_admin_formset.formset.can_delete %}
                <td class="delete">
                  {{ inline_admin_form.deletion_field.field }}
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </fieldset>
  </div>
</div>