{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/filtro_data.css' %}">
{% endblock %}

{% block object-tools-items %}
  {% if has_add_permission %}
    <li>
      {% url cl.opts|admin_urlname:'add' as add_url %}
      <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink">
        {% blocktranslate with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktranslate %}
      </a>
    </li>
  {% endif %}
  {% if additional_buttons %}
    {{ additional_buttons|safe }}
  {% endif %}
{% endblock %}

{% block content %}
  {{ block.super }}
  {% if modal_filtro %}
    {{ modal_filtro|safe }}
  {% endif %}
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'js/filtro_data.js' %}"></script>
{% endblock %}
