{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} delete-confirmation{% endblock %}

{% block content %}
<div class="container-fluid py-2">
  <div class="row">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-dark shadow-dark border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">{% blocktranslate with name=opts.verbose_name %}Excluir {{ name }}{% endblocktranslate %}</h6>
          </div>
        </div>
        <div class="card-body px-4 pb-2">
          {% if perms_lacking %}
            <div class="alert alert-danger text-white">
              {% blocktranslate with escaped_object=object %}Deleting the {{ object_name }} '{{ escaped_object }}' would result in deleting related objects, but your account doesn't have permission to delete the following types of objects:{% endblocktranslate %}
              <ul>
                {% for obj in perms_lacking %}
                  <li>{{ obj }}</li>
                {% endfor %}
              </ul>
            </div>
          {% elif protected %}
            <div class="alert alert-danger text-white">
              {% blocktranslate with escaped_object=object %}Deleting the {{ object_name }} '{{ escaped_object }}' would require deleting the following protected related objects:{% endblocktranslate %}
              <ul>
                {% for obj in protected %}
                  <li>{{ obj }}</li>
                {% endfor %}
              </ul>
            </div>
          {% else %}
            <div class="alert alert-warning text-white">
              {% blocktranslate with escaped_object=object %}Você tem certeza que quer excluir {{ object_name }} "{{ escaped_object }}"? Todos os seguintes itens relacionados serão excluídos:{% endblocktranslate %}
            </div>
            
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-4">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% translate "Cadastros" %}</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% translate "Quantidades" %}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for model_name, object_count in model_count %}
                    <tr>
                      <td class="align-middle">
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{ model_name|capfirst }}</h6>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle">
                        <p class="text-xs text-secondary mb-0">{{ object_count }}</p>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            
            <form method="post">{% csrf_token %}
              <div>
                <input type="hidden" name="post" value="yes">
                {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1">{% endif %}
                {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}">{% endif %}
                <div class="d-flex justify-content-between">
                  <a href="{% url opts|admin_urlname:'changelist' %}" class="btn btn-outline-dark mb-0">
                    {% translate "Não, me leve de volta" %}
                  </a>
                  <button type="submit" class="btn bg-gradient-danger mb-0">
                    {% translate "Sim, tenho certeza" %}
                  </button>
                </div>
              </div>
            </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
