{% extends "admin/app_index.html" %}
{% load i18n admin_urls admin_list %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
    <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="{% url 'admin:index' %}">{% translate 'Home' %}</a></li>
    <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Autenticação e Autorização</li>
  </ol>
</nav>
{% endblock %}

{% block content_title %}
<div class="row">
  <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
    <div class="card">
      <div class="card-header p-3 pt-2">
        <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
          <i class="material-symbols-rounded opacity-10">security</i>
        </div>
        <div class="text-end pt-1">
          <p class="text-sm mb-0 text-capitalize">Autenticação e Autorização</p>
          <h4 class="mb-0">{% translate 'Administration' %}</h4>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
