{% extends 'admin/change_form.html' %}
{% load i18n admin_urls static %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/form_fields_style.css' %}">
{% endblock %}

{% block submit_buttons_bottom %}
    <div class="submit-row">
        {% if original %}
            <a href="{% url 'adaptacao_curricular:imprimir_adaptacao' original.pk %}" class="button" style="float: right; margin-right: 5px; background: #417690;">
                <i class="fas fa-file-pdf"></i> Gerar Relatório
            </a>
        {% endif %}
        {{ block.super }}
    </div>
{% endblock %}
